
.calendar-wrapper-btn {
    color: rgb(255, 255, 255) !important;
    text-transform: none !important;
    font-size: 18px !important;
}

.clear-btn {
    background-color: rgb(231, 105, 105) !important;
}

.apply-btn {
    background-color: rgb(109, 212, 131) !important;
}

.previous-arrow {
 cursor: pointer;
}

.next-arrow {
cursor: pointer;
}

.calendar-out-box {
    margin: 20px;
    border-radius: 16px;
}